body{
    font-family: arcade;
    overflow: hidden;
    background-image: url("../imagenes/fondo.gif");
    background-size: cover;
}
ul{
    font-size: 70px;
    list-style: none;
    line-height: 130px;
}
li{
    transition: 1s;
}
.seleccionado{
    color: rgb(8, 166, 50);
}

.plantilla{
    display: grid;
}

.centrar-vertical{
    align-items: center;
}

.cincuenta{
    grid-template-columns: 50% 50%;
}

img{
    width: 100%;
}
img.a{
    animation: imagen 0.3s;
}

@keyframes imagen {
    from{
        transform: skewY(15deg);
    }
    to{
        transform: skewY(0);
    }
}

@font-face {
    font-family: arcade;
    src: url(../fuentes/ka1.ttf);
}

@font-face {
    font-family: "icono";
    src: url("../fuentes/ARCADE__.TTF");
}