@font-face {
    font-family: 'Press Start 2P';
    src: url('../fuentes/PressStart2P-Regular.ttf') format('truetype');
    /* Reemplaza 'ruta/a/la/fuente/PressStart2P-Regular.ttf' con la ruta correcta de la fuente en tu servidor */
}

#game-name {
    /* Otros estilos para el nombre del juego */
    font-family: 'Press Start 2P', cursive;
    position: relative;
    z-index: 3;
    /* Establece la fuente del nombre del juego */
}

body {
    margin: 0;
    /* Elimina el margen predeterminado del cuerpo */
    overflow: hidden;
    background-image: url("../imagenes/fondoPress.gif");
    background-size: cover;
}

#game-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-top: auto;
    /* Centra verticalmente el contenedor */
    display: none; /* Oculta el contenedor por defecto */
}


#game-img {
    max-width: 80%;
    max-height: 60vh;
    position: relative;
    /* Reduzca la altura de la imagen */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    transition: opacity 0.5s ease-in-out;
    z-index: 3;
    /* Asegurar que la imagen esté sobre el GIF */
}

#gif {
    max-width: 50%;
    /* Ajustar el tamaño del GIF */
    position: absolute;
    top: 40%;
    /* Centrar verticalmente */
    left: 50%;
    /* Centrar horizontalmente */
    transform: translate(-50%, -50%);
    /* Centrar completamente */
    z-index: 1;
    /* Asegurar que esté sobre la imagen principal */
}

#game-name {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 10px;
    /* Ajusta según sea necesario */
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 4px #000;
    transition: opacity 0.5s ease-in-out;
    z-index: 2;
}



.previous-img,
.next-img {
    position: absolute;
    max-width: 20%;
    opacity: 0.5;
    /* Inicialmente difuminadas */
    transition: opacity 0.5s ease-in-out;
    z-index: 1;
    /* Asegurar que estén sobre el GIF */
}

.previous-img:focus,
.next-img:focus {
    opacity: 1;
    /* En foco, no difuminadas */
}

.previous-img {
    left: 0;
    bottom: 10vh;
    /* Posicionar un poco más arriba */
}

.next-img {
    right: 0;
    bottom: 10vh;
    /* Posicionar un poco más arriba */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #2A3950;
    --button: #ffa801;
    --notify: #FF7582;
    --icon: #ff3f34;
    --light-grey: #ecf0f1;
    --dark-grey: #34495e;
    --blue: #12CBC4;
    --dark-blue: #1289A7;
    --red: #ED4C67;
}

body {
    background-color: var(--background);
    font-family: Montserrat;
    animation-delay: 1s;
}

.notify {
    width: 360px;
    height: 63px;
    display: block;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.1) 100%);
    background-color: #ff0000;
    border-radius: 6px;
    position: absolute;
    bottom: 20px;
    left: 18px;
    filter: drop-shadow(7px 7px 10px RGBA(0, 0, 0, .4));
    padding: 8px 13px;
    cursor: pointer;
}

.animate.notify {
    opacity: 1;
    animation: base-animation 3s ease alternate;
}

.button {
    background-color: #ffff00d4;
    height: 65px;
    width: 65px;
    position: absolute;
    right: 13px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    filter: drop-shadow(3px 3px 3px RGBA(0, 0, 0, .2));
    color: white;
    font-family: "Font Awesome 5 Free";
    content: "\f095";
    font-size: 30px;
    color: white;
}

.animate .button {
    animation: button-animation 3s ease alternate;
}

.animate .button i {
    animation: icon-animation 3s ease alternate;
}

span {
    animation-delay: 1s
}

.animate span {
    animation: text-animation 3s ease alternate;
}

.title {
    color: white;
    font-weight: 600;
    font-size: 20px;
    display: block;
}

.subtitle {
    color: #ddd;
}

@keyframes base-animation {
    0% {
        width: 90px;
        height: 0;
    }

    22% {
        height: 83px;
    }

    25% {
        width: 90px;
        height: 76px;
    }

    32% {
        height: 63px;
    }

    50% {
        width: 360px;
    }
}

@keyframes button-animation {
    0% {
        height: 0px;
        width: 0px;
    }

    17% {
        height: 75px;
        width: 75px;
        right: 8px;
    }

    22% {
        height: 65px;
        width: 65px;
        right: 13px;
    }

    100% {}
}

@keyframes text-animation {
    0% {
        opacity: 0;
    }

    39% {
        opacity: 0;
    }


    50% {
        opacity: 1;
    }
}

@keyframes icon-animation {
    0% {
        transform: rotate(-680deg);
        opacity: 0;
    }

    1% {
        transform: rotate(-380deg);
        opacity: 0;
    }

    27% {
        transform: rotate(0deg);
        opacity: 1;
    }
}
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');


